/* Header started */
.header {
  width: 100%;
  height: auto;
  min-height: 1017px;
  background-image: url("../../assets/images/mainbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main_nav {
  width: 100%;
  padding-top: 40px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 48%;
}

.nav_ul li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #1b2534;
  cursor: pointer;
}

.nav_ul li:hover {
  color: #0082f3;
  transition: 0.2s ease-out;
}

.nav_btn {
  width: 212px;
  height: 61px;
  outline: none;
  background: #1b2534;
  border: 1px solid #1b2534;
  box-sizing: border-box;
  border-radius: 17px;
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.nav_btn:hover {
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 2px solid black;
}

.main_cont {
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_cont h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 104px;
  text-align: center;
  text-transform: capitalize;
  color: #1b2534;
  margin-top: 147px;
}

.main_cont h2 span {
  color: #29a0f5;
}

.main_btn {
  width: 232px;
  height: 72px;
  margin-top: 38px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b2534;
}

.main_btn:hover {
  transition: all 0.3s ease-in;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 2px solid black;
}

/*////=== Perfect Approach ====/////*/
.main_perfect {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #f6f6f6;

  position: relative;
}

.main2_img {
  position: absolute;
  top: -380px;
  left: 25px;
  width: 1290px;
}

.perfect_cont {
  padding-top: 545px;
  padding-bottom: 160px;
  display: flex;
}

.perfect_left h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 78px;
  max-width: 580px;
  text-transform: capitalize;
  color: #1b2534;
}

.perfect_left h3 span {
  color: #29a0f5;
}

.perfect_left p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  max-width: 615px;
  text-transform: capitalize;
  margin-top: 27px;
  color: #1b2534;
}

.perfect_left_btm {
  margin-top: 28px;
}

.diamondp {
  display: flex;
  align-items: center;
}

.diamondp_txt {
  margin-left: 20px;
}

.diamondp_txt h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  color: #1b2534;
}

.diamondp_txt h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #606060;
}

.lockp {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.perfect_right {
  margin-left: 20px;
}

/* {///=== Capture & convert excellent leads ==///} */

.main_capture {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: #e5e5e5;
}

.capture_header {
  display: flex;
  padding-top: 160px;
}

.capture_header_left h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 78px;
  max-width: 620px;
  text-transform: capitalize;

  color: #1b2534;
}

.capture_header_left h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 78px;
  text-transform: capitalize;

  color: #29a0f5;
}

.capture_header_left p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
  max-width: 640px;
  color: #1b2534;
  margin-top: 25px;
}

.capture_body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.capture2_img {
  width: 328px;
}

.capture3_img {
  width: 630px;
}

.capture_footer {
  display: flex;
  margin-top: 38px;
  margin-left: 50px;
}

.capture_foot {
  display: flex;
  align-items: center;
  background: #1b2534;
  border-radius: 20px;
}

.capture_foot img {
  width: 480px;
}

.fewa {
  padding-right: 20px;
}
.capture_foot h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
  text-align: right;
  text-transform: capitalize;

  color: #ffffff;
}

.capture_foot button {
  width: 234px;
  height: 72px;
  background: #29a0f5;
  border: 1px solid #29a0f5;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 20px;
}

.capture_foot button:hover {
  background: #0076ca;
  transition: 0.3s ease-out;
  color: black;
  border: 2px solid #0067b1;
}

/* {software that drives employee} */

.main_software {
  width: 100%;
  height: auto;
  background: #f6f6f6;
}

.ssh1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 78px;
  text-align: center;
  text-transform: capitalize;
  padding-top: 135px;
  color: #1b2534;
}

.ssh2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 78px;
  text-align: center;
  text-transform: capitalize;

  color: #29a0f5;
}

.software_both {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  padding-bottom: 193px;
}

.software_left1 {
  width: 459px;
  height: 202px;
  background: #1b2534;
  border-radius: 20px;
  padding: 40px;
}

.software_left1 h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 52px;
  color: #ffffff;
}

.software_left1 h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  color: #ffffff;
}

.software_left2 {
  margin-top: 28px;
  width: 422px;
}

.software_left2 h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 52px;
  color: #ababab;
}

.software_left2 h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ababab;
}

.software1 {
  width: 750px;
}

/*//=== feedback page ==///*/

.main_feedback {
  width: 100%;
  height: auto;
  background: #1b2534;
}

.feedback {
  padding-top: 139px;
  padding-bottom: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback_left {
  display: flex;
}

.feedback_left h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 91px;
  /* identical to box height, or 140% */

  color: #ffffff;
}

.feedback_left img {
  margin-left: 20px;
}

.feedback p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
  max-width: 685px;
  color: #ababab;
  margin-top: 40px;
}

.rating {
  margin-top: 130px;
}

.rating h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 49px;
  /* identical to box height, or 140% */

  color: #ffffff;
}

.rating h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #ababab;
}

.uti_starts {
  margin-top: 10px;
  display: flex;
  width: 220px;
  justify-content: space-between;
}

/* Loved Team */

.main_loved {
  width: 100%;
  height: auto;
  background: #e5e5e5;
}

.brands_p {
  font-family: Open Sans;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  text-transform: capitalize;
  padding-top: 159px;
  color: #1b2534;
}

.brands_img {
  width: 1300px;
  margin-top: 10px;
}

.Cards-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 200px;
}

.card1_p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 42px;
  text-transform: capitalize;
  max-width: 389px;
  color: #1b2534;
  margin-top: 27px;
}

.card1_p2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #606060;
  max-width: 411px;
  margin-top: 25px;
}

.cardherader {
  max-width: 411px;
  padding: 0px !important;
  margin-top: 38px;
}

.cards1_img {
  width: 405px;
}

.more_btn {
  width: 227px;
  height: 72px;
  background: #29a0f5;
  border: 1px solid #29a0f5;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  margin-top: 85px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.more_btn:hover {
  transition: 0.3s ease-in-out;
  color: #29a0f5;
  background-color: white;
  border: 2px solid #29a0f5;
}

.btn_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.unleash_main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 300px;
}

.unleash_main p {
  max-width: 570px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 84px;
  /* or 130% */

  text-transform: capitalize;

  color: #1b2534;
}

.unleash_img {
  width: 100%;
  margin-top: 80px;
}

.main_footer {
  width: 100%;
  background-color: #1b2534;
}

.footer1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 127px;
}

.footer_leftp {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */
  max-width: 264px;
  letter-spacing: 0.2px;
  margin-top: 22px;
  color: #ababab;
}

.footer_icons {
  margin-top: 100px;
}

.icon_social {
  width: 20px;
  height: 20px;
  margin: 0px 8px;
}

.twitter,
.telegram,
.instagram,
.youtube {
  color: #ffffff;
}

.twitter:hover {
  color: rgb(0, 132, 255);
  transition: 0.3s;
}

.telegram:hover {
  color: rgb(0, 113, 189);
  transition: 0.3s;
}

.youtube:hover {
  color: red;
  transition: 0.3s;
}

.instagram :hover {
  color: rgb(224, 0, 187);
  transition: 0.3s;
}

.footer_middle {
  width: 600px;
  height: 330px;
  background: #283343;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
}

.nav_txt {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;

  color: #ffffff;
}

.footer_middle ul li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.36px;
  margin: 15px 0px;
  color: #ababab;
  cursor: pointer;
}

.footer_middle ul li:hover {
  color: #29a0f5;
  transition: 0.3s;
}

.footer2_line{
  border: 1px solid #606060;
  margin-top: 12px;
}

.licence{
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.licence p{
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 160% */

letter-spacing: 0.36px;

color: #ABABAB;

}

.licence p span{
  color: #29A0F5;
}


